#app {
    height: 100vh;
    // width: 100vw;
    // margin: 0 7rem;
    // border-left: 1px solid $off-white;
    // border-right: 1px solid $off-white;

    display: flex;
    flex-direction: column;
}