*{
    box-sizing: border-box;
}

// html {
    // font-size: 72.5%;
// }

.align-center {
    padding: 0 5%;
    width: 100%;

    @media (min-width: $desktop-breakpoint) {
        padding: 0 5rem;
    }
}

button {
    cursor: pointer;
}

.category__title{
    margin: 0;
    text-align: center;
    padding: 1rem;
}